.input-percentage {
    display: grid;
    grid-template-columns: auto 30px;
    border: 1px solid gray;
}

.input-percentage input, .input-percentage input:focus {
    border: 0px;
    outline: none;
}


.input-percentage .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    cursor: pointer;
}

.input-percentage .arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 5px;
    margin-left: 0px;
}

.input-percentage .arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 11px;
    margin-left: 0px;
}